In [1]:
%load_ext sql

In [4]:
%sql mysql://root:root@localhost

In [11]:
%%sql

#create schema q178;
use q178;

Create table If Not exists Scores (Id int, Score DECIMAL(3,2));
Truncate table Scores;
insert into Scores (Id, Score) values ('1', '3.5');
insert into Scores (Id, Score) values ('2', '3.65');
insert into Scores (Id, Score) values ('3', '4.0');
insert into Scores (Id, Score) values ('4', '3.85');
insert into Scores (Id, Score) values ('5', '4.0');
insert into Scores (Id, Score) values ('6', '3.65');

 * mysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [12]:
%%sql

show tables

 * mysql://root:***@localhost
1 rows affected.

[('scores',)]

In [14]:
%%sql 
select * from scores

 * mysql://root:***@localhost
6 rows affected.

[(1, Decimal('3.50')),
 (2, Decimal('3.65')),
 (3, Decimal('4.00')),
 (4, Decimal('3.85')),
 (5, Decimal('4.00')),
 (6, Decimal('3.65'))]

In [17]:
%%sql 

select *, dense_rank() over(order by score desc) as 'Rank' from scores

 * mysql://root:***@localhost
6 rows affected.

[(3, Decimal('4.00'), 1),
 (5, Decimal('4.00'), 1),
 (4, Decimal('3.85'), 2),
 (2, Decimal('3.65'), 3),
 (6, Decimal('3.65'), 3),
 (1, Decimal('3.50'), 4)]