https://www.hackerrank.com/challenges/binary-search-tree-1/problem

In [1]:
%load_ext sql

In [2]:
%sql mysql://root:root@localhost

In [15]:
%%sql 

drop schema q;
create schema q;
use q;

create table if not exists BST (N int, P int);

insert into BST (N,P) values (1,2);
insert into BST (N,P) values (3,2);
insert into BST (N,P) values (6,8);
insert into BST (N,P) values (9,8);
insert into BST (N,P) values (2,5);
insert into BST (N,P) values (8,5);
insert into BST (N,P) values (5,Null);

 * mysql://root:***@localhost
1 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [16]:
%%sql
select * from BST;

 * mysql://root:***@localhost
7 rows affected.

[(1, 2), (3, 2), (6, 8), (9, 8), (2, 5), (8, 5), (5, None)]

In [21]:
%%sql

select case 
when P is null then concat(N,' Root'), ##P=null
when N in (select P from BST) then concat(N, ' Inner'), ## P=N
else concat(N,' Leaf') as op
from BST
order by N asc

 * mysql://root:***@localhost
(_mysql_exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ',\nwhen N in (select P from BST) then concat(N, ' Inner'),\nelse concat(N,' Leaf')' at line 1")
[SQL: select case when P is null then concat(N,' Root'),
when N in (select P from BST) then concat(N, ' Inner'),
else concat(N,' Leaf') as op
from BST
order by N asc]
(Background on this error at: http://sqlalche.me/e/14/f405)